= page_entries_info collection
= link_to "sort by #{alternate_sort}", alternate_sort_path

%hr
= paginate collection, :params => url_params

%div{:class => "list-container"}
  - if name
    %h3
      = name
  %ul{:class => "list-column details"}
    = render collection
