= my_form_for :user  do |f|
  %div{:class => "notice"}
    请登录。尚未注册？
    &nbsp;
    = link_to "请注册", register_path, {:rel => "nofollow"}
  = f.email_field :email, "电子邮箱"
  = f.password_field :password, "密码"
  %div{:class => "form-action clearfix"}
    = f.submit "登录"
