- if @bad_code
  %div{:class => "main-text"}
    %h2
      错误或过期的链接代码。 如果您忘记了登录密码，请点击
      = link_to "重设密码", password_reset_request_path
  
- else
  = my_form_for :user  do |f|
    %div{:class => "notice"}
      为此注册邮箱账号重新设置登录密码 #{@user.email}
    = f.password_field :new_password, "新设密码"
    = f.password_field :new_password_confirm, "再次输入新密码"
    %div{:class => "form-action clearfix"}
      = f.submit "确认新密码"
