- if @bad_code
  %div{:class => "main-text"}
    %h2
      Bad or expired password reset code.  If you forgot your password, please go to
      = link_to "reset password", password_reset_request_path
  
- else
  = my_form_for :user  do |f|
    %div{:class => "notice"}
      Please set your new password for account #{@user.email}
    = f.password_field :new_password, "new password"
    = f.password_field :new_password_confirm, "confirm new password"
    %div{:class => "form-action clearfix"}
      = f.submit "set password"
