= my_form_for :user do |f|
  %div{:class => "notice"}
    请提供真实邮箱进行注册。已经注册？
    &nbsp;
    = link_to "请登录", login_path, {:rel => "nofollow"}
  = f.email_field :email, "电子邮箱"
  = f.password_field :password, "密码"
  = f.password_field :password_confirm, "确认密码"
  %p
    点击注册按钮则表示您完全同意并接受我们的
    = link_to("服务协议", terms_of_service_path)
    = link_to("隐私声明", privacy_policy_path)
  %div{:class => "form-action clearfix"}
    = f.submit "注册"
