%div{:class => "main-text"}
  %h2
    = "#{@sort} books - page #{@page} - "
    - opposite_sort = @sort =='recent' ? 'popular' : 'recent'
    = link_to "sort by #{opposite_sort}", list_books_path(sort: opposite_sort)

= page_entries_info @books
= paginate @books, :params => {:controller => 'books', :action => 'list', :sort => @sort}
%hr

%div{:class => "book-show"}
  %h3
    书库
  %ul{:class => "list-column details", "data-action" => "click"}
    = render @books
