%div{:class => "main-text hide-mobile"}
  %h1{:class => "hide-mobile"}
    = "#{@sort} books - page #{@page}"
    -#- opposite_sort = @sort =='recent' ? 'popular' : 'recent'
    -#= link_to "sort by #{opposite_sort}", list_books_path(sort: opposite_sort)

- alternate_sort = @sort =='recent' ? 'popular' : 'recent'
- alternate_sort_path = list_books_path(sort: alternate_sort)

= render partial: 'shared/my_collection', locals: {collection: @books, url_params: {controller: 'books', action: 'list', sort: @sort}, alternate_sort: alternate_sort, alternate_sort_path: alternate_sort_path, name: nil, current_page: @page}
