= my_form_for :user  do |f|
  %div{:class => "notice"}
    Change password.  Enter your current password and enter your new password twice.
  = f.password_field :password, "密码"
  = f.password_field :new_password, "new password"
  = f.password_field :new_password_confirm, "confirm new passworde"
  %div{:class => "form-action clearfix"}
    = f.submit "change password"
