= my_form_for :user  do |f|
  %div{:class => "notice"}
    修改密码。请先输入您现在的密码，然后将新密码输入两次。
  = f.password_field :password, "现在的密码"
  = f.password_field :new_password, "新密码"
  = f.password_field :new_password_confirm, "再次输入新密码"
  %div{:class => "form-action clearfix"}
    = f.submit "确认修改"
