%div{:class => "main-text hide-mobile"}
  %h1
    = @page_title

- if current_user.email_verified_at
  %p
    = "您的邮箱 <strong>#{current_user.email}</strong> 已经完成验证，无需再做任何动作。".html_safe
- else
  %p
    = "<strong>1</strong> 我们已经向您的注册邮箱 <strong>#{current_user.email}</strong> 发送了验证邮件，请查收。请及时完成邮箱验证，享受免费阅读权益".html_safe
  %br
  -#%p
  -#  = "<strong>2</strong> 如果您确定没有接收到这封邮件，请用如下备份方式完成验证：用您的注册邮箱向 <strong>register@inbound.mihudie.com</strong> 发送邮件，主题和内容均为 '注册邮箱验证'。一旦我方系统收到您的邮件，将自动完成验证，之后您无需接收任何邮件即可享有迷蝴蝶后花园一个月免费畅读权益。".html_safe
  -#%br
  %p
    = "<strong>2</strong> 如果您想要修改您的注册邮箱，请点击&nbsp;".html_safe
    = link_to "修改注册邮箱", change_email_path, class: "action"
    = "，我们会发送邮箱验证链接到您新提供的邮箱地址。请重新完成验证。"
  %br
  %p
    = "<strong>如果您确实无法收到验证邮件以完成邮箱验证，请用您的注册邮箱向 <a href='mailto:support@mihudie.com'>support@mihudie.com</a> 发送邮件，主题和内容均为邮箱验证，我们会帮助您完成邮箱验证。</strong>".html_safe
    
