%div{:class => "main-text hide-mobile"}
  %h1
    = @page_title

- unless current_user.email_verified?
  %div{:class => "notice"}
    请验证您的注册邮箱以获得一个月迷蝴蝶后花园免费阅读权限。如果接收不到验证邮件，请点击
    = link_to "验证注册邮箱", email_verify_notice_path
    
%h3
  = "#{current_user.email}"
  &nbsp;
  = link_to "退出", logout_path, class: "action"

- if current_user.premium?
  = "您有后花园访问权限直至 #{current_user.premium_date_pp}"
-# TODO add notice for referral here.
%hr
- if current_user.bookmarks
  = "#{current_user.bookmarks.count} 书签"
  &nbsp;
  = link_to "管理书签", bookmarks_path, class: "action" 
%br
%br
= link_to "修改密码", change_password_path, class: "action"
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
= link_to "修改注册邮箱", change_email_path, class: "action"
