%br
%h2
  Account Home &nbsp;&nbsp;  -
  &nbsp;&nbsp;&nbsp;
  = link_to "退出", logout_path
%br
%h3
  = "email - #{current_user.email}"
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  = link_to "修改密码", change_password_path
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  = link_to "change_email", change_email_path
%br
- unless current_user.email_verified?
  %h3
    You must verify your email address.  To resend a verification email, click here:
    = link_to "resend verification email", send_verification_email_path


