!!! Strict
%html{ html_attrs("zh-CN") }
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%title= @page_title
		%meta{:name => "keywords", :content => "#{@page_keywords}"}
		%meta{:name => "description", :content => "#{@page_description}"}
		= stylesheet_link_tag '/stylesheets/pure-0.5.0-min', media: 'all'
		= stylesheet_link_tag '/stylesheets/pure-0.5.0-responsive-min', media: 'all'
		= javascript_include_tag '/javascripts/jquery-1.11.1.min'
		= csrf_meta_tags

	%body{:class => "pure-g"}
		= render 'layouts/sidebar'
		%main{:role => "main", :class => "content pure-u-1 pure-u-md-1-2"}
			= yield
			%footer
				= render 'layouts/footer'
