!!! Strict
%html{ html_attrs("zh-CN") }
  = render 'layouts/header'

  %body
    = render 'layouts/header'
    %div{:class => "content content-read clearfix"}
      = yield
    = render 'layouts/footer'
    = content_for :side_menu
    
